.img {
  padding: 0.6rem 1rem;
  /*background-color: rgb(184, 202, 134);*/
}
.jumbotron {
  padding: 0.6rem 1rem;
  background-color: rgb(143, 188, 144);
}
.input {
  padding: 0.6rem 1rem;
  /*background-color: rgb(184, 202, 134);*/
}